body {
    background: #141452;
    color: #fff;
    font-family: Impact, Charcoal, sans-serif;
    height: 100%;
    position: relative;
    text-align: center;
}


p  {
	padding-left: 1rem;
}


div {
	font-weight: 800;
	padding: 2rem 0 0 0;
} 


footer {
  bottom: 0;
  height: 2rem;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  width: 100%;
}
